<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Tienda de Ropa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="/productsAdmin">Mantenedor</a>
          </li>
        </ul>
      </div>
    </nav>
    
  </header>
  <main class="container my-4">
    <section class="carrito">
      <h2 class="text-center mb-4">Tu Carrito</h2>
      <% if (carrito.length > 0) { %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% carrito.forEach(item => { %>
              <tr>
                <td><img src="<%= item.imagen %>" class="img-fluid" alt="<%= item.nombre %>" style="width: 50px;"></td>
                <td><%= item.nombre %></td>
                <td>$<%= item.precio %></td>
                <td><%= item.cantidad %></td>
                <td>$<%= item.precio * item.cantidad %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <div class="d-flex justify-content-between">
        <!--<a href="/checkout" class="btn btn-success">Proceder al Checkout</a>--> 
        
        <form action="/checkout/confirm" method="post">
        <button type="submit" class="btn btn-success">Proceder al Checkout</button>
        </form>



          <form action="/cart/clear" method="get">                                <!-- El error fue que estaba en POST y deberia ser GET--> 
            <button type="submit" class="btn btn-danger">Vaciar Carrito</button>  <!--Ademas el Metodo GET se usa Arto en el contesto-->
          </form>                                                                 <!--HTTP pero en conclusion -->   
        </div>                                                                    <!--GET: Es utilizado para solicitar datos de un recurso específico en un servidor-->
      <% } else { %>
        <p class="text-center">Tu carrito está vacío. <a href="/">Continúa comprando</a></p>
      <% } %>
    </section>
  </main>
  <footer class="bg-light text-center py-3">
    <p>&copy; 2024 Tienda de Ropa</p>
  </footer>
  <!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
